/* ######### Marker List Vertical Menu ######### */

.markermenu{
width: 220px; /*width of side bar menu*/
clear: left;

font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
position: relative; /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/

}

.markermenu ul{

list-style-type: none;
margin: 8px 0;
padding: 0;

border: 0px solid #9A9A9A;
}

.markermenu ul li a{
/*background:url(bulletlist.gif) no-repeat 5px center; light gray background*/
/*font: bold 12px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;*/
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color: #00014e;
display: block;
width: auto;
padding: 5px 0;
padding-left: 20px;
text-decoration: none;
border-bottom: 0px solid #B5B5B5;
height:19px;

}

* html .markermenu ul li a{ /*IE6 hack*/
width:220px;
}

.markermenu ul li a:visited, .markermenu ul li a:active{
color: #00014e;
}

.markermenu ul li a:hover, .markermenu ul li a.selected{
color: white;
background-color:#0385d5;
}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */

.blackwhite li a{
background:#0c5e90;

}

.blackwhite li a:hover{
background:#0385d5;
color: white;
}