.bodyStyle{ 
 	margin:0px; padding:0px;
 	background:url(../images/body_bg.jpg) repeat-x;
	}

	.tooltipDiv{
		font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-left:5px;
	color:#5c5c5c;
	}

.curvebox {
	margin: 10px;
	color:#FFFFFF;
	background:#f7f4f4;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 10px;
	}
.curvebox1{
	margin: 10px;
	color:#FFFFFF;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 10px;
	}
.Logouttextlink{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	padding:4px;
	text-decoration:none;
	}
.Logouttextlink:hover{
	color:#da170f;
	}
.Logouttextunlink{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color:#FFFFFF;
	padding:4px;
	}
.top_menu{
	/*font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#ffffff;
	padding:6px;
	text-decoration:none; */
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:5px;
	color:#ffffff;
	font-weight:normal;
	text-decoration:none;
	}

.main_menu{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#000000;
	padding:6px;
	text-decoration:none; 
	}
.main_menu:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#f0f0f0;
	padding:6px;
	text-decoration:none; 
	}
.menu_divider{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:13px;
	color:#ffffff;
	padding-left:0px;
	}


.normaltext{
	/*font-family:Arial, Helvetica, sans-serif;
	font-weight:bold; 
	font-size:12px;
	color:#000000;
	padding:6px;*/
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-left:5px;
	color:#5c5c5c;
	}

.list{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	width:180px;
	height:22px;
	color:#5c5c5c;
	padding:2px;
	background:#ffffff;
	border:solid 1px #aecee1;
	}
.textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	width:200px;
	height:auto;
	color:#000;
	padding:2px;
	border:solid 1px #aecee1;
	}
.radiobutton{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#666666;
	padding:2px;
	}
.checkbox{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#666666;
	padding:2px;
	}

.formtitle{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:20px;
	color:#008ce2;
	
	padding:5px;
	}
	
.mastersubtitle{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:16px;
	color:#fff;
	background:#0c5e90;
	padding:5px;
	}
.mastersubtitle a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:14px;
}
.mastersubtitle a img{
	width:15px;
	height:15px;
	border:none;
	margin-right:5px;
}
	
.maintitle{
	/*font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:16px;
	color:#maintitle;
	padding:5px;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	color:#0c5e90;
	background-color:#f7f7f7;

	}
.submaintitle{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:16px;
	color:#000000;

	border-top:solid 1px #f6f6f6;
	padding:2px;
	}

.border{
	border:solid 1px #DADADA;
	background:fffcfc;
	}
.buttontext{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#333333;
	background:#008ce2;
	
	cursor:pointer;
	padding:3px;
	}
.buttontext:hover{
	color:#FFFFFF;
	background:#ffa425;
	}
.copyright{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:11px;
	color:#6e6e6f;
	padding:5px;
	}
.normalColtext{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#333333;
	background:#e4f5ff;
	padding:6px;
	}
.normalRowtext{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#333333;
	background:#bfecff;
	padding:3px;
	border-bottom:solid #8dcfef 1px;
	}
.normalColHead{
	color:#ffffff; 
	height: 15px;   
	font-size:12px;
	font-weight:bold;
	background-color: #008ce2; 
	padding-left:3px; 
	text-align:left;
}

table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #CCCCCC;
}
.oddrowcolor{
	background-color:#f8f8f8;
}
.evenrowcolor{
	background-color:#e6e6e6;
}


.PASS{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#000000;
	background:#99CC99;
	padding:6px;
	}
.FAIL{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#dc2323;
	background:#F3F3F3;
	padding:6px;
	}
.logintable{
	border:solid #c6e0ff 2px;}
	
.textbox{
	/*font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#000000;
	height:25px;
	padding:1px;
	width:180px;
	border:solid 1px #bcbcbc;*/
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-left:5px;
	width:180px;
	height:22px;
	border:solid 1px #8ab1c8;
	color:#5c5c5c;
	}
.textboxaddress{
	/*font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#878787;
	background:#f9feff;
	padding:2px;
	width:180px;
	height:60px;
	border:solid 1px #c6e0ff;*/
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-left:5px;
	width:200px;
	height:55px;
	border:solid 1px #e7e7e7;
	color:#5c5c5c;
	}

.btn{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#ffffff;
	background:#008ce2;
	padding:1px;
	width:auto;
	padding-left:5px;
	padding-right:5px;
	height:25px;
	border:solid 0px #c6e0ff;
	}
	
.botton:hover{ border:solid 1px #996633; background:#333333;}
.mandatoryclass
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#db2501;
	
}
.modalDialog
{
	display:none;
}
.datePicker
{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#161616;
	width:100px;
	height:18px;
	border:#7F9DB9 solid 1px;
}
.resizableTextarea
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#161616;
	width: 200px;
	height:60px;
	border:#aecee1 solid 1px;	
	margin:0px 5px 5px 0px;
	padding:2px;	
}

.pagebanner{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
}
.pagelinks {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	text-decoration:none;
}

.exportlinks {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
}

.dtable {    
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	border: 1px solid #085798;
	width: 98%;  
	margin: 20px 0 20px 0 !important;
	border-collapse: separate;
	border-spacing: 2px;
	border-collapse: expression('separate', cellSpacing = '2px');	
}    
    

.dtable th {    
	color:#fff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	height:25px;  
	padding-left:3px;
	white-space:nowrap;
}    
    
.dtable td {    
	font-size:12px;
	
}    
    /*header row*/
	
	
	
.dtable thead tr {

color:#ffffff; 
height: 15px;   
font-size:12px;
font-weight:bold;
background-color: #008ce2; 
padding-left:3px; 
text-align:left;
}    
    
.dtable tbody {    
/* height: 230px;     *//* For Browser Related Issue. Because Of This In Mozilla The Height Of Row Is Set 230. */
overflow-x: hidden;    
}    
    
.dtable tbody tr {    
width: inherit;    
height: 22px;    
white-space: nowrap;
font-weight:normal;
background-color:expression( (this.rowIndex %2 == 0) ? '#fbfbfb' : '#e4f5ff' );
text-align:left;
vertical-align:top;

}    

.dtable tbody tr:nth-child(even) {background: #fbfbfb}
.dtable tbody tr:nth-child(odd) {background: #e4f5ff}

.dtable tbody tr.odd {    
background-color: #e4f5ff;    
}    
    
.dtable tbody tr.tableRowEven,tr.even 
{    
background-color: #fbfbfb;    
}    
    
.dtable tbody tr td:last-child {    
padding-right: 1px;    
}    
    
.dtable tbody td {    
padding: 1px 2px 1px 2px !important;    
}    

.subHeading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#b4b4b4;

	
}
.ajaxDiv
{
z-index:1010;
width:200px;
height:auto;
display:none;
position:absolute;
color: #aaa;
opacity:1.6;
filter: alpha(opacity=120);  
overflow-x:auto;
overflow-y:hidden;		
}

.multitextbox
{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	width:expression( (this.scrollWidth > 200) ? 'auto' : 200);
	min-width:200px;
	color:#000000;
	border:solid 1px #bcbcbc;
}

.search_textbox
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#161616;
	width:180px;
	height:14px;
	border:#c9e2e6 solid 1px;
}

.mastermenu{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:13px;
	color:#000000;
	padding:6px;
	text-decoration:none;
	}

.mastermenu:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:13px;
	color:#666666;
	padding:6px;
	text-decoration:none;
	}
	
	
.opmsg
{
	font-family: Verdana;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;

	
}


.normaldata{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	color:#000000;
	padding:6px;
	}

.datePicker
{ 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	width:150px;
	padding:3px;
	height:25px;
	border:#C0C0C0 solid 1px;
}

div.ui-datepicker{
 	font-size:12px;
}

.ui-widget-content { 
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px; 
	padding:5px; 
}
.modalDialog
{
	font-size:12px;
	display:none;	
}

.typeToSearch
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-left:5px;
	width:180px;
	height:22px;
	border:solid 1px #8ab1c8;
	color:#5c5c5c;	 
}
.longList
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal; 
	font-size:12px;
	width:180px;
	height:22px;
	color:#5c5c5c;
	padding:2px;
	background:#ffffff;
	border:solid 1px #aecee1;
}

.resizableTextarea
{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#161616;
	width: 200px;
	height:60px;
	border:#7F9DB9 solid 1px;
	width:200px;
}

.imgList
{
	width:20px;
	height:20px;
	border:none; 
}	

.detailtable
{
	border:solid 3px #CCCCCC;
	background:#FCFCFC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:6px;
	line-height:18px;		
}

.detailtable .normaltext{
white-space:nowrap;
}

.detailtable th {    
	color:#ffffff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	height:25px;  
	padding-left:3px;
	white-space:nowrap;	
	color:#ffffff; 
	background-color: #008ce2;
} 

.scrollContainer{
overflow-x: auto; /*Horizontal scrollbar*/
overflow-y: auto; /*Vertical scrollbar*/
-ms-overflow-x: auto; /*IE 8 horizontal scrollbar*/
-ms-overflow-y: auto; /*IE 8 vertical scrollbar*/
width:1050px;
height:auto;
overflow-y: expression( this.scrollHeight > 300 ? "auto" : "hidden" ); /* overflow y for IE */
height: expression( this.scrollHeight > 300 ? "300px" : "auto" ); /* sets max-height for IE */
max-height:300px;/* sets max-height for all other browsers */
padding-bottom:10px;
}
.hideshow
{
	display:none;
}

.divScrollContainer
{
	overflow-x: auto; /*Horizontal scrollbar*/
	overflow-y: auto; /*Vertical scrollbar*/
	-ms-overflow-x: auto; /*IE 8 horizontal scrollbar*/
	-ms-overflow-y: auto; /*IE 8 vertical scrollbar*/
	width:100%;
	height:auto;
	overflow-y: expression( this.scrollHeight > 500 ? "auto" : "hidden" ); /* overflow y for IE */
	height: expression( this.scrollHeight > 500 ? "500px" : "auto" ); /* sets max-height for IE */
	max-height:500px;/* sets max-height for all other browsers */
	padding-bottom:10px;
}

.innerTable
{
	border:solid 1px #666666;
	background:#FCFCFC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:1px;
	line-height:18px;		
}

.innerTable .normaltext{
white-space:nowrap;
}

.innerTable th {    
	color:#ffffff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	height:25px;  
	padding-left:3px;
	white-space:nowrap;	
	color:#ffffff; 
	background-color: #008ce2;
}

.tableScrollContainer{
overflow-x: auto; /*Horizontal scrollbar*/
overflow-y: auto; /*Vertical scrollbar*/
-ms-overflow-x: auto; /*IE 8 horizontal scrollbar*/
-ms-overflow-y: auto; /*IE 8 vertical scrollbar*/
width:550px;
height:auto;
overflow-y: expression( this.scrollHeight > 550 ? "auto" : "hidden" ); /* overflow y for IE */
height: expression( this.scrollHeight > 550 ? "550px" : "auto" ); /* sets max-height for IE */
max-height:550px;/* sets max-height for all other browsers */
padding-bottom:10px;
}

.subsectiontable {    
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	border: 1px solid #085798;
	width: 98%;
	border-collapse: separate;
	border-spacing: 2px;
	border-collapse: expression('separate', cellSpacing = '2px');	
}    
    

.subsectiontable th {    
	color:#fff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	height:25px;  
	padding-left:3px;
	white-space:nowrap;
}    
    
.subsectiontable td {    
	font-size:12px;	
}    
 
.subsectiontable thead tr {

color:#ffffff; 
height: 15px;   
font-size:12px;
font-weight:bold;
background-color: #008ce2; 
padding-left:3px; 
text-align:left;
}    
    
.subsectiontable tbody {    
overflow-x: hidden;    
}    
    
.subsectiontable tbody tr {    
width: inherit;    
height: 22px;    
white-space: nowrap;
font-weight:normal;
background-color:expression( (this.rowIndex %2 == 0) ? '#fbfbfb' : '#e4f5ff' );
text-align:left;
vertical-align:top;

}    

.subsectiontable tbody tr:nth-child(even) {background: #fbfbfb}
.subsectiontable tbody tr:nth-child(odd) {background: #e4f5ff}

.subsectiontable tbody tr.odd {    
background-color: #e4f5ff;    
}    
    
.subsectiontable tbody tr.tableRowEven,tr.even 
{    
background-color: #fbfbfb;    
}

.subsectionScrollContainer{
overflow-x: auto; /*Horizontal scrollbar*/
overflow-y: auto; /*Vertical scrollbar*/
-ms-overflow-x: auto; /*IE 8 horizontal scrollbar*/
-ms-overflow-y: auto; /*IE 8 vertical scrollbar*/
width:100%;
height:auto;
overflow-y: expression( this.scrollHeight > 200 ? "auto" : "hidden" ); /* overflow y for IE */
height: expression( this.scrollHeight > 200 ? "200px" : "auto" ); /* sets max-height for IE */
max-height:200px;/* sets max-height for all other browsers */
}
